{% extends "compras/base_compras.html" %}
{% block title %}Compras | Cotizaciones{% endblock title %}
{% block content %}
{% include "nav.html" %}
{% block producto %}
<div class="wrapper">
      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
         <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Cotizaciones
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Inicio</a></li>
            <li><a href="#">Cotizaciones</a></li>
            <li class="active">Nueva/Editar Cotizacion</li>
          </ol>
        </section>
        <!-- Main content -->
    <section class="content">
      <!-- START ALERTS AND CALLOUTS -->
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header with-border">

              <a href="{% url 'compras:lista_cotizaciones' %}" class="btn btn-success">
                    <span class="glyphicon glyphicon-chevron-left"></span> Regresar
              </a>

              <div class="box-tools pull-right">
                  <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div><!-- /.box-tools -->

            </div><!-- /.box-header -->
              <div class="box-body">

                    <div class="row">
                      <div class="col-lg-12">

                        <form class="form-horizontal" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xs-12 col-sm-10">
                                    <div class="form-group has-success has-feedback  {% if cotizacion_form.estado.errors %} has-error {% endif %}">
                                        <label class="control-label col-sm-2" for="inputSuccess3">{{ cotizacion_form.estado.label_tag }}</label>
                                        <div class="col-sm-6">
                                            {% if perms.compras.puede_aprobar_cotizacion %}
                                                {{ cotizacion_form.estado }}
                                            {% else %}
                                                {{ cotizacion.get_estado_display }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group has-success has-feedback  {% if cotizacion_form.proveedor.errors %} has-error {% endif %}">
                                        <label class="control-label col-sm-2" for="inputSuccess3">{{ cotizacion_form.proveedor.label_tag }}</label>
                                        <div class="col-sm-6">
                                            {{ cotizacion_form.proveedor }}
                                        </div>
                                    </div>
                                    <div class="form-group has-success has-feedback  {% if cotizacion_form.descuento.errors %} has-error {% endif %}">
                                        <label class="control-label col-sm-2" for="inputSuccess3">{{ cotizacion_form.descuento.label_tag }}</label>
                                        <div class="col-sm-6">
                                            {{ cotizacion_form.descuento }}
                                        </div>
                                    </div>
                                </div>
                            </div> <!--<div class="row"> -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3>Detalle</h3>
                                </div>


                                <table class="table" id="detalle-formset-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Detalle</th>
                                            <th scope="col">Precio Unitario</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for detalle_form in detalle_formset %}
                                        <tr>
                                            <td>
                                                {{ detalle_form.cantidad }}
                                                {% if detalle_form.cantidad.errors %}
                                                    {% for error in detalle_form.cantidad.errors %}
                                                        {{ error|escape }}
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                            <td>
                                              {{ detalle_form.mercaderia }}
                                              {% if detalle_form.mercaderia.errors %}
                                                  {% for error in detalle_form.mercaderia.errors %}
                                                      {{ error|escape }}
                                                  {% endfor %}
                                              {% endif %}
                                            </td>
                                            <td>
                                              {{ detalle_form.precio }}
                                              {% if detalle_form.precio.errors %}
                                                  {% for error in detalle_form.precio.errors %}
                                                      {{ error|escape }}
                                                  {% endfor %}
                                              {% endif %}
                                            </td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    {{ detalle_formset.management_form }}
                                    {% if detalle_formset.non_form_errors %}
                                        {% for error in detalle_formset.non_form_errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                </table>
                                <div class="col-xs-6">
                                </div>
                                <div class="col-xs-6">
                                    <div class="lead"> Totales de la compra </div>
                                    <div class"table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th style="width:50%">Subtotal:</th>
                                                    <td align="center"> {{ cotizacion.get_subtotal }}</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:50%">Descuento({{ orden.cotizacion.descuento }}%):</th>
                                                    <td align="center"> {{ cotizacion.get_calculo_descuento }}</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:50%">IVA({{cotizacion.iva}}%):</th>
                                                    <td align="center"> {{ cotizacion.get_calculo_iva }}</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:50%">Total: $:</th>
                                                    <td align="center"> {{ cotizacion.get_total }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!--<div class="row"> -->
                                <div class="panel-footer color-footer">
                                    <button type="submit" class="btn btn-primary">
                                                 Grabar
                                    </button>
                                </div>
                        </form>

                         {% if messages %}
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        {% endif %}

                      </div>
                    </div><!--/.row-->
            </div><!-- /.box body -->
          </div><!-- /.box info -->
          </div><!--col-->
        </div><!-- /.row -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->
{% include "footer.html" %}
{% endblock producto%}
{% endblock content %}
{% block js %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            $("#detalle-formset-table tbody tr").formset({
                addText: 'Agregar',
                addCssClass: 'btn btn-default',
                deleteText: 'Borrar',
            });
        });
    </script>
{% endblock js%}