<div class="gi-header">
    <h3 class="ad-mh">{{ proveedor.nombre_fantasia }}
        {# Account Edit Link #}
        <span>
            <a class="ad-control editar-proveedor btn btn-link"
               href="{{ proveedor.get_update_url }}">Editar</a>
        </span>
    </h3>

</div>

<div class="row gi-body">
    <div class="col-md-3">
        <h5 class="gi-sh">Nombre Fiscal</h5>
        <p>{{ proveedor.nombre_fiscal }}</p>
    </div>
    <div class="col-md-3">
        <h5 class="gi-sh">CUIT</h5>
        <p>{{ proveedor.cuit }}</p>
    </div>
    <div class="col-md-3">
        <h5 class="gi-sh">Condicion</h5>
        <p>{{ proveedor.condicion_iva }}</p>
    </div>
    <div class="col-md-3">
        <h5 class="gi-sh">Fecha De Alta</h5>
        <p>{{ proveedor.fecha_alta }}</p>
    </div>
</div>


