<form id="gi-form"
      action="{% if proveedor.uuid %}
      {{ proveedor.get_update_url }}{% else %}{% url 'proveedores:nuevo' %}{% endif %}"
      method="post">
    {% csrf_token %}
    <div id="row gi-body">
        <div class="col-md-3">
            <h4> Nombre de Fantasia </h3>
        </div>
        <div class="col-md-9">
            <h3 class="gi-mh">{{ form.nombre_fantasia }}</h3>
            <span>{{ form.nombre_fantasia.errors }}</span>
        </div>
    </div>
    <div class="row gi-body">
        <div class="col-md-4">
            <h5 class="gi-sh">Nombre Fiscal</h5>
            <p>{{ form.nombre_fiscal }}</p>
            <span>{{ form.nombre_fiscal.errors }}</span>
        </div>
        <div class="col-md-4">
            <h5 class="gi-sh">CUIT</h5>
            <p>{{ form.cuit }}</p>
            <span>{{ form.cuit.errors }}</span>
        </div>
    </div>
    <div class="row gi-body">
        <div class="col-md-4">
            <h5 class="gi-sh">Condicion</h5>
            <p>{{ form.condicion_iva }}</p>
            <span>{{ form.condicion_iva.errors }}</span>
        </div>
        <div class="col-md-4">
            <h5 class="gi-sh">Fecha De Alta</h5>
            <p>{{ form.fecha_alta }}</p>
            <span>{{ form.fecha_alta.errors }}</span>
        </div>
    </div>
    <input id="gi-form-submit" class="btn btn-primary" type="submit" value="GUARDAR">
    <p>{{ form.non_field_errors }}</p>
</form>