{% extends 'base.html' %}
{% block title %}Proveedores{% endblock title %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div id="al-container" class="side-p">
            <div id="al-control">
                <h3 class="ad-mh">Proveedores
                    {# Add Account Link #}
                </h3>
                {# Account Search Form #}
            </div>
            {# List of Accounts #}
            <ul id="al-group" class="strip-list">
                {% for proveedor in proveedores %}
                    <li class="al-item">
                        <a href=""><h4 class="al-name">{{ proveedor.nombre_fiscal }}</h4></a>
                        <span class="al-created">fecha alta {{ proveedor.fecha_alta }}</span>
                    </li>
                {% endfor %}
            </ul>
            {# Pagination Section #}
            {% if is_paginated %}
                <div id="al-paginate">
                    <ul class="strip-list al-pgnt-list">
                        {% if page_obj.has_previous %}
                            <li class="pull-left">
                                <a href="{% url 'proveedores:list' %}?page={{ page_obj.previous_page_number }}
                                {% if request.GET.proveedor %}&proveedor={{ request.GET.proveedor }}{% endif %}">Prev</a>
                            </li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li class="pull-right">
                                <a href="{% url 'proveedores:list' %}?page={{ page_obj.next_page_number }}
                                {% if request.GET.proveedor %}&proveedor={{ request.GET.proveedor }}{% endif %}">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}