{% extends "compras/base_compras.html" %}
{% block title %}Compras | Detalle Cotizacion{% endblock title %}
{% block content %}
{% include "nav.html" %}
{% block producto %}
<div class="wrapper">
      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
        <!-- Main content -->
    <section class="content">
      <!-- START ALERTS AND CALLOUTS -->
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">

            <div class="box-header with-border">
                <a href="{% url 'compras:lista_cotizaciones'%}" class="btn btn-success">
                    <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                </a>
                    <div class="box-tools pull-right">
                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
              <div class="box-body">
                  <div class="section">
                        <table class="table table-striped table table-hover ">
                            <tbody>
                                <tr class="success">
                                      <td><strong>Fecha de Generación:</strong></td>
                                      <td>{{ cotizacion.fecha_generada }} </td>
                                </tr>
                                <tr class="success">
                                   <td><strong>Estado:</strong></td>
                                   <td>{{ cotizacion.get_estado_display }}</td>
                                </tr>
                                <tr class="success">
                                   <td><strong>Modificada Por:</strong></td>
                                   <td>{{ cotizacion.modificad_por }}</td>
                                </tr>
                                <tr class="success">
                                   <td><strong>Proveedor:</strong></td>
                                   <td>{{ cotizacion.proveedor }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- section -->
                    <div class="panel-body">
                        <h3 class="page-header"> Detalle </h2>
                        <table class="table-striped table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col"> Cantidad </th>
                                    <th scope="col"> Descripción </th>
                                    <th scope="col"> Precio Unitario </th>
                                    <th scope="col"> Subtotal </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for detalle in detalles %}
                                    <tr>
                                        <td> {{ detalle.cantidad }} </td>
                                        <td> {{ detalle.mercaderia }} </td>
                                        <td> {{ detalle.precio }} </td>
                                        <td> {{ detalle.get_subtotal }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="col-xs-6">
                        </div>
                        <div class="col-xs-6">
                            <div class="lead"> Totales de la compra </div>
                            <div class"table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th style="width:50%">Subtotal:</th>
                                            <td align="center"> {{ cotizacion.get_subtotal }}</td>
                                        </tr>
                                        <tr>
                                            <th style="width:50%">Descuento({{ orden.cotizacion.descuento }}%):</th>
                                            <td align="center"> {{ cotizacion.get_calculo_descuento }}</td>
                                        </tr>
                                        <tr>
                                            <th style="width:50%">IVA({{cotizacion.iva}}%):</th>
                                            <td align="center"> {{ cotizacion.get_calculo_iva }}</td>
                                        </tr>
                                        <tr>
                                            <th style="width:50%">Total: $:</th>
                                            <td align="center"> {{ cotizacion.get_total }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- panel-body -->
                    <a href="{{ cotizacion.get_update_url }}" class="btn btn-primary"> Editar </a>
                    {% if perms.compras.puede_aprobar_cotizacion and cotizacion.estado == "P" %}
                    <a href="{{ cotizacion.get_aprobar_url }}" class="btn btn-warning text-right"> Aprobar Cotizacion </a>
                    <a href="{{ cotizacion.get_rechazar_url }}" class="btn btn-danger"> Rechazar Cotizacion </a>
                    {% endif %}
                    {% if cotizacion.estado == "A" %}
                    <a href="#" class="btn btn-success"> Generar Orden de Compra </a>
                    {% endif %}
              </div><!-- /.box -->
          </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->

{% include "footer.html" %}
{% endblock producto %}
{% endblock content %}


