<tr>
    <td> {{ contacto.nombre }}</td>
    <td> {{ contacto.telefono }} </td>
    <td> {{ contacto.email }} </td>
    <td> {{ contacto.direccion }} </td>
    <td> {{ contacto.pagina_web }} </td>
    <td class="text-left">
       <!--- {% if user.is_authenticated %}
        <a href="{{ contacto.get_absolute_url }} " class="btn btn-success"><span class="glyphicon glyphicon-eye-open"></span></a>
        {% endif %} -->
        {% if perms.contactos.can_edit %}
        <a href="{{ contacto.get_update_url }}?proveedor={{ proveedor.id }}" id="editar-contacto" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        {% if perms.contactos.can_delete %}
        <a href="{{ contacto.get_delete_url }}" id="borrar-contacto" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
        {% endif %}
    </td>
</tr>