<form id="contact-form"
      {# POST Destination #}
      action="{% if contacto.uuid %}
      {% url 'contactos:editar' contacto.uuid %}
      {% else %} {% url 'contactos:nuevo' %}
      {% endif %}"
      method="post">
    {% csrf_token %}
    <table class="table">
        <tbody>
            <tr>
                <td class="p-l-none">{{ form.nombre }}</td>
                <td>{{ form.email }}</td>
                <td>{{ form.telefono }}</td>
                <td>{{ form.direccion }}</td>
                <td class="p-r-none">{{ form.pagina_web }}</td>
            </tr>
            {% if form.errors %}
                <tr>
                    <td>{{ form.nombre.errors }}</td>
                    <td>{{ form.email.errors }}</td>
                    <td>{{ form.telefono.errors }}</td>
                    <td>{{ form.direccion.errors }}</td>
                    <td>{{ form.pagina_web.errors }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <input id="id_proveedor" name="proveedor"
           type="hidden"
           value="{% if request.GET.proveedor %}
           {{ request.GET.proveedor }}{% else %}{{ proveedor.id }}{% endif %}"/>
    <input id="contact-submit" class="btn btn-primary m-r-none" type="submit" value="GUARDAR"/>
</form>